
/*_____________________________________________HEADER________________________________*/

h1{
    background-color: rgb(23, 23, 23);
    color: #D4AF37;
    padding: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
}
/*_____________________________________________MAIN________________________________*/

main p{
    text-align: center;
    padding-top: 4rem;
    font-size: 1.5rem;
    color: #c9a24D;
}

/*_____________________________________________FORMULAIRE________________________________*/

.logoContact{
    display: block;
    margin: 0 auto;
    width: 15rem;
    padding-top: 4rem;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0 10rem 0;
}
form label, legend{
    color: #c9a24D;
    font-weight: lighter;
}
fieldset{
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 450);
    border: 1px solid  rgba(255, 255, 255, 0.90);
}

fieldset:hover, fieldset:focus-within{
    border: 1px solid #D4AF37;

}

legend{
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;
}

label, input, textarea{
    font-size: 1.2rem;
    width: 25rem;
}
input{
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.500);
}
textarea{
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.500);
}

input:hover, textarea:hover{
    box-shadow:  0 0 5px rgba(255, 255, 255, 0.90);
    border: 2px solid #D4AF37;
}

#Button{
    background-color: black;
    color:#c9a24D;
    border: 1px solid rgba(255, 255, 255, 0.90);
    margin-top: 1rem;
    border-radius: 0.5rem;
}


#Button:hover{
    box-shadow:  0 0 5px #DAA520;
    transform: scale(1.05);
    transition: all 0.15s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.90);
}

/*__________________________________________________________*/

/*ADAPTATION MOBILE*/

@media (max-width: 767px){
    h1{
        font-size: 1.5rem;
        padding: 3rem;
    }
    h2{
        font-size: 1.15rem;
    
    }
    .logoContact{
        width: 10rem;
        padding-top: 2rem;
    }
    main p{
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 2rem;
    }
    form{
        
        padding: 5% 2% 15% 2%;
    }
    fieldset{
        padding: 1rem;
    }
    legend{
        font-size: 1.25rem;
    }
    label, input, textarea{
        width: 18rem;
        font-size: 0.95rem;
    }
    input{
        height: 1.6rem;
    }
    textarea{
        height: 8rem;
    }
    #Button{
        font-size: 0.85rem;
    }
    
}