/*________________________________HEADER____________________________________________*/

h1{
    color: #D4AF37;
    padding: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    background-color: rgb(23, 23, 23);
}
/*________________________________FIN HEADER__________________________________________*/
section{
    margin: 8rem 20rem;
    background-color: white;
    padding:  0rem 3rem 5rem 3rem;
    border-radius: 1rem;
    border: 2px solid #DAA520;

}
h2{
    color: red;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    font-weight: normal;
}
p, ul li{
    font-weight: 500;
    padding-left: 1.5rem;
    list-style: none;
    line-height: 1.5rem;
    font-size: 1rem;

}
ul{
    /* padding-bottom: 1.5rem; */
}
.mentions{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: red;
}
.cgu, .mentions{
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: red;
}
@media (max-width: 1179px){
    
    h1{
        font-weight: normal;

    }
    h1{
        font-size: 1.5rem;
        padding: 3rem;
    }
    h2{
        font-size: 1.15rem;
        font-weight: 600;
        margin-left: 0.5rem;
    }
    p, ul li{
        padding-left: 1rem;
        font-size: 0.95rem;


    }
    .mentions, .cgu{
        font-size: 1.25rem;
    }
   .cgu{
        line-height: 1.8rem;
        margin-bottom: 1rem;
   }
   .mentions{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
   }
    section{
        padding: 0rem 0.5rem 1rem 0.5rem;
        margin: 5% 5% 20% 5%;

    }
    footer p{
        font-size: 0.85rem;
        font-weight: normal;
    }
    
}