h1{
    color: #D4AF37;
    padding: 3.65rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight:lighter;
    background-color: rgb(23, 23, 23);
}

/*___________________________________MAIN / ARTICLE_____________________________*/


main h2{
    text-align: center;
    color: #c9a24D;
    /* font-size: 1.8rem; */
    margin: 2rem 0 1.5rem 0;
    font-weight: lighter;

}

section{
    display: flex;
    justify-content: center;
    color: rgb(5, 50, 70);
    margin-bottom: 8rem;
}

article{
    /* padding: 1rem; */
    margin: 1rem;
    width: 20rem;
    text-align: center;
    line-height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.5rem;
}

.card {
  position: relative;
  overflow: hidden;
}

.badge {
  position: absolute;
  top: 25px;
  right: -40px;
  background: #e63946;
  color: white;
  padding: 6px 40px;
  font-size: 0.75rem;
  font-weight: 600;
  transform: rotate(45deg);
}

.h3{
    font-weight: bold;
    margin-top: 2rem;
}
.h3surmesure{
    font-weight: bold;
    margin: 2.5rem;
    font-size: 1.5rem;

}
.H3populaire{
    font-weight: bold;
    /* margin-right: 2rem; */
    /* margin-top: 2rem; */
    background-color: rgb(8, 36, 80);
    color: white;
    padding: 2rem 0rem 1.3rem 0rem;
    margin-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.Rouge{
    color: #e63946;
    font-size: 1.8rem;
}
.hr{
    margin: 1rem;;
}
.small{
    font-size: 0.9rem;
    /* margin: 1rem;; */
}
.PrixDevis, .PrixDevisPersonnalisé{
    font-weight: bold;
    font-size: 1.5rem
}
/* .PrixDevisPersonnalisé{
    margin-top: 2.85rem;
} */
ul li{
    list-style: none;
    text-align: left;
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 0.90rem;
}
ul{
    margin: 2rem;
}
.conditions{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.bouton1, .bouton3, .bouton2, .bouton3surmesure{
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    
}
.bouton1 a, .bouton3 a, .bouton2 a, .bouton3surmesure a{
    font-weight: bold;
    color: white;
    text-underline-offset: 4px;
}
.bouton1{
    margin: 6rem 2.85rem 0rem 2.85rem;
}
.bouton2{
    margin: 3.5rem 2.85rem 2.85rem 2.85rem;
}
.bouton1, .bouton2{
    background-color: rgb(8, 36, 80);
}
.bouton3, .bouton3surmesure{
    background-color: rgb(5, 50, 70);
    margin: 2rem 2.85rem 2.85rem 2.85rem;
}
.bouton3surmesure{
    margin-top: 6rem;
}

/*__________________________________________________________*/

/*______________________________________________OFFRES_COMPLEMENTAIRES____________________________*/
.offresComplementaires{
    display: block;
    margin-top: 2rem;
}
.offresComplementaires h2{
    text-align: center;
    color: #D4AF37;
}
article img{
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 0.5rem;
}
.offresComplementaires article{
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.5rem;
}
.articleComplementaire{
    display: flex;
    justify-content: center;
}
.articleComplementaire h2{
    color: rgb(5, 50, 70);
    margin-top: 0;
}
.info{
    text-align: center;
    margin-top: 5rem;
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 2rem;
}
.info a{
    color: #D4AF37;
    text-underline-offset: 4px;
    text-shadow: rgba(255, 255, 255, 0.90) 0px 0px 0.5px;
}
.info strong{
    font-weight: 500;
}
.goldenLine{
    margin-bottom: 5rem;
}

/*ADAPTATION MOBILE767px*/

@media (max-width: 1249px){
    
    h1{
        font-size: 1.5rem;
        padding: 3rem;
        font-weight: normal;
    }
    h2{
        font-size: 1.15rem;
    
    }
    section{
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    /* .bouton1, .bouton2, .bouton3{
    margin-bottom: 1rem;
    } */
    article{
        margin: 2rem;
        width: 18rem;
    }
    ul li{
        line-height: 1.5rem;
    }
    .bouton1, .bouton3{
    margin: 2.85rem 2.85rem 1rem 2.85rem;
    }
    .bouton2{
    margin: 0rem 2.85rem 1rem 2.85rem;
    }
    .conditions{
        margin-left: 0.9rem;
        font-size: 0.70rem;
    }
    .bouton1 a, .bouton3 a, .bouton2 a, .bouton3surmesure a{
        font-size: 0.85rem;
    }
    .bouton3surmesure{
    margin-top: 4rem;
    }
    .info{
    font-size: 0.95rem;
    line-height: 1.5rem;
    margin-top: auto;
    }
    .goldenLine{
    margin-bottom: 2rem;
    }
    .articleComplementaire{
    flex-direction: column;
    align-items: center;
    }
    main h2{
        font-weight: normal;
    }

}
