h1{
    color: #D4AF37;
    padding: 3.65rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight:lighter;
    background-color: rgb(23, 23, 23);
}

/*___________________________________MAIN / ARTICLE_____________________________*/


main{
    display: flex;
    justify-content: center;
    color: rgb(5, 50, 70);
}

article{
    /* padding: 1rem; */
    margin: 5rem;
    width: 20rem;
    text-align: center;
    line-height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.5rem;
}

.card {
  position: relative;
  overflow: hidden;
}

.badge {
  position: absolute;
  top: 25px;
  right: -40px;
  background: #e63946;
  color: white;
  padding: 6px 40px;
  font-size: 0.75rem;
  font-weight: 600;
  transform: rotate(45deg);
}

.h2{
    font-weight: bold;
    margin-top: 2rem;
}
.H2populaire{
    font-weight: bold;
    /* margin-right: 2rem; */
    /* margin-top: 2rem; */
    background-color: rgb(8, 36, 80);
    color: white;
    padding: 2rem 0rem 1.3rem 0rem;
    margin-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.hr{
    margin: 1rem;;
}
.small{
    font-size: 0.9rem;
    /* margin: 1rem;; */
}
.PrixDevis, .PrixDevisPersonnalisé{
    font-weight: bold;
    font-size: 1.5rem
}
.PrixDevisPersonnalisé{
    margin-top: 2.85rem;
}
ul li{
    list-style: none;
    text-align: left;
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 0.90rem;
}
ul{
    margin: 2rem;
}
.conditions{
    font-size: 0.8rem;
    margin: 0.5rem;
}
.bouton1, .bouton3, .bouton2{
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    
}
.bouton1 a, .bouton3 a, .bouton2 a{
    font-weight: bold;
    color: white;
    text-underline-offset: 4px;
}
.bouton1, .bouton3{
    margin: 4.5rem 2.85rem 0rem 2.85rem;
}
.bouton2{
    margin: 0rem 2.85rem 2.85rem 2.85rem;
}
.bouton1, .bouton2{
    background-color: rgb(8, 36, 80);
}
.bouton3{
    background-color: rgb(5, 50, 70);
}

/*__________________________________________________________*/

/*ADAPTATION MOBILE767px*/

@media (max-width: 1249px){
    
    h1{
        font-size: 1.5rem;
        padding: 3rem;
        font-weight: normal;
    }
    h2{
        font-size: 1.15rem;
    
    }
    main{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    /* .bouton1, .bouton2, .bouton3{
    margin-bottom: 1rem;
    } */
    article{
        margin: 2rem;
        width: 18rem;
    }
    ul li{
        line-height: 1.5rem;
    }
    .bouton1, .bouton3{
    margin: 2.85rem 2.85rem 1rem 2.85rem;
    }
    .bouton2{
    margin: 0rem 2.85rem 1rem 2.85rem;
    }
    .conditions{
        margin-left: 0.9rem;
        font-size: 0.70rem;
    }
    .bouton1 a, .bouton3 a, .bouton2 a{
        font-size: 0.85rem;
    }

}